@import "tailwindcss";

/* From https://azbyka.ru/ */
@font-face {
  font-family: 'Triodion';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(/slova/fonts/triodion-ieUcs.eot);
  src: url('/slova/fonts/triodion-ieUcs.eot?#iefix') format('embedded-opentype'),
       url(/slova/fonts/triodion-ieUcs.woff2) format('woff2'),
       url(/slova/fonts/triodion-ieUcs.woff) format('woff'),
       url(/slova/fonts/triodion-ieUcs.ttf) format('truetype'),
       url('/slova/fonts/triodion-ieUcs.svg#triodion-ieUcs') format('svg');
}

.slavonic {
  font-family: "Triodion";
}
