---
import '../styles/global.css';
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="/favicon.jpg"/>
    <title>Slova - Casos Gramaticais</title>
  </head>
  <body style="background-color: rgb(28,19,10)" class="min-h-screen text-white flex items-center justify-center">
    <div class="container mx-auto p-6 max-w-full">
      <h1 class="text-5xl sm:text-3xl md:text-5xl lg:text-5xl font-bold text-center">
	Casos Gramaticais
      </h1>
      <p class="text-center mb-10">
        <a href="/slova/" class="text-gray-600 hover:underline text-sm">
          Voltar ao início
        </a>
      </p>
      <div class="overflow-x-auto">
        <table class="-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
          <thead>
            <tr class="bg-red-900 border border-red-900">
              <th class="px-4 py-2">Caso</th>
              <th class="px-4 py-2">Função</th>
              <th class="px-4 py-2">Equivalência Gramatical</th>
              <th class="px-4 py-2">Exemplo</th>
              <th class="px-4 py-2">Tradução</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-red-900 px-4 py-2">Nominativo</td>
              <td class="border border-red-900 px-4 py-2">Sujeito, predicativo do sujeito</td>
              <td class="border border-red-900 px-4 py-2">Sujeito da oração</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Свят, свят, свят Господь Саваоф.</td>
              <td class="border border-red-900 px-4 py-2">Santo, santo, santo é o Senhor dos Exércitos.</td>
            </tr>
            <tr>
              <td class="border border-red-900 px-4 py-2">Vocativo</td>
              <td class="border border-red-900 px-4 py-2">Chamamento, invocação direta</td>
              <td class="border border-red-900 px-4 py-2">Vocativo</td>
              <td class="border border-red-900 px-4 py-2 slavonic font-thin">
		<u>ГDи</u>, поми1луй.
		<br/>---<br/>
		<u>Боже</u>, очисти мя грешного.
		<br/>---<br/>
		Благослови, <u>душе моя</u>, Господа.
              </td>
              <td class="border border-red-900 px-4 py-2">
                <u>Senhor</u>, tem piedade.<br/>---<br/>Deus, purifica-me pecador.<br/>---<br/>Bendiz, ó minh'alma, ao Senhor.
              </td>
            </tr>
            <tr>
              <td class="border border-red-900 px-4 py-2">Genitivo</td>
              <td class="border border-red-900 px-4 py-2">Posse, origem, ausência</td>
              <td class="border border-red-900 px-4 py-2">Complemento nominal ("de algo")</td>
              <td class="border border-red-900 px-4 py-2 slavonic">
                Благословенно Царство Отца.<br/>---<br/>Во имя Отца.<br/>---<br/>И очисти ны от всякия скверны.
              </td>
              <td class="border border-red-900 px-4 py-2">
                Bendito seja o Reino do Pai, do Filho e do Espírito Santo.<br/>---<br/>Em nome do Pai.<br/>---<br/>E purifica-nos de toda mácula.
              </td>
            </tr>
            <tr>
              <td class="border border-red-900 px-4 py-2">Dativo</td>
              <td class="border border-red-900 px-4 py-2">Destinatário, direção, benefício</td>
              <td class="border border-red-900 px-4 py-2">Objeto indireto ("para/a alguém")</td>
              <td class="border border-red-900 px-4 py-2 slavonic">
                Слава Отцу.<br/>---<br/>Тебе подобает всякая слава, честь и поклонение.<br/>---<br/>И духови твоему.
              </td>
              <td class="border border-red-900 px-4 py-2">
                Glória ao Pai.<br/>---<br/>A Ti pertencem toda glória, honra e adoração.<br/>---<br/>E ao teu espírito.
              </td>
            </tr>
            <tr>
              <td class="border border-red-900 px-4 py-2">Acusativo</td>
              <td class="border border-red-900 px-4 py-2">Objeto direto da ação</td>
              <td class="border border-red-900 px-4 py-2">Objeto direto</td>
              <td class="border border-red-900 px-4 py-2 slavonic">
                Верую во единаго Бога Отца Вседержителя.<br/>---<br/>О мире всего мира.<br/>---<br/>Приимите, ядите, сие есть Тело Мое.<br/>---<br/>Пресвятую, пречистую, преблагословенную, славную Владычицу нашу Богородицу и Приснодеву Марию.
              </td>
              <td class="border border-red-900 px-4 py-2">
                Creio em um só Deus Pai Todo-Poderoso.<br/>---<br/>Pela paz de todo o mundo.<br/>---<br/>Tomai, comei, isto é o Meu Corpo.<br/>---<br/>Santíssima, Puríssima, Bendita e Gloriosa Soberana, a Mãe de Deus e sempre Virgem Maria.
              </td>
            </tr>
            <tr>
              <td class="border border-red-900 px-4 py-2">Instrumental</td>
              <td class="border border-red-900 px-4 py-2">Meio, modo, acompanhamento</td>
              <td class="border border-red-900 px-4 py-2">Adjunto adverbial de meio/modo ("com algo")</td>
              <td class="border border-red-900 px-4 py-2 slavonic">
                И со духом твоим.<br/>---<br/>Миром Господу помолимся.<br/>---<br/>Защити ... нас, Боже, Твоею благодатию.
              </td>
              <td class="border border-red-900 px-4 py-2">
                E com teu espírito.<br/>---<br/>Em paz, oremos ao Senhor.<br/>---<br/>Protege ... a nós, Deus, pela Tua Graça.
              </td>
            </tr>
            <tr>
              <td class="border border-red-900 px-4 py-2">Prepositivo</td>
              <td class="border border-red-900 px-4 py-2">Localização, assunto, referência</td>
              <td class="border border-red-900 px-4 py-2">Adjunto adverbial de lugar/tema ("em/sobre/por algo")</td>
              <td class="border border-red-900 px-4 py-2 slavonic">
                О Господе воспою.<br/>---<br/>О мире всего мира.<br/>---<br/>В храме Твоем.
              </td>
              <td class="border border-red-900 px-4 py-2">
		Cantarei sobre o Senhor.<br/>---<br/>Pela paz de todo o mundo.<br/>---<br/>No Teu templo.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="text-center mt-3">
        <a href="/slova/" class="text-red-500 hover:underline text-sm">
          Voltar ao início
        </a>
      </p>
    </div>
  </body>
</html>
