---
import '../styles/global.css';
import data from '../data/main.json';
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="/favicon.jpg">
    <title>Slovo</title>
  </head>
  <body style= "background-color: rgb(28,19,10)" class="min-h-screen text-white flex items-center justify-center">
    <div class="container mx-auto p-6 max-w-2xl">
      <h1 class="text-7xl sm:text-xl md:text-7xl lg:text-7xl font-bold text-center mb-3">
        Slovo
      </h1>
      <div class="text-center mb-7 block">
          <a href={`/slova/intro`} class="text-sm text-gray-500 hover:underline text-center">
             Introdução ao Eslavo Eclesiástico
          </a>
	  <span class="text-gray-500 text-sm"> • </span>
          <a href={`/slova/casos`} class="text-sm text-gray-500 hover:underline text-center">
             Casos Gramaticais em Eslavo Eclesiástico
          </a>
      </div>
      <ul class="space-y-4 text-center">
        {data.map(i => (
        <li>
          <a href={`/slova/d/${i.id}`} 
             class="text-3xl sm:text-md mb:text-3xl lg:text-3xl text-red-500 hover:underline slavonic text-center">
	     {i.name}
	  </a>
	  <i class="text-md sm:text-sm md:text-md lg:text-md block">({i.translation})</i>
        </li>
        ))}
      </ul>
      <div class="text-center mt-20">
	<p class="text-red-900 text-sm italic">
	  Este site não está pronto e pode apresentar diversos erros. <br/>
	  Sugestões, correções, ajudas e dúvidas: mirandadavi.mt@gmail.com
	</p>
      </div>
    </div>
  </body>
</html>
