---
import '../styles/global.css';
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="/favicon.jpg">
    <title>Slovo</title>
  </head>
  <body style= "background-color: rgb(28,19,10)" class="min-h-screen text-white flex items-center justify-center">
    <div class="container mx-auto p-6 max-w-2xl">
      <h1 class="text-red-500 text-7xl sm:text-xl md:text-7xl lg:text-7xl font-bold text-center mb-5">
        Slovo
      </h1>
      <div class="text-center mb-10">
	<p class="text-md italic">
	<strong>Eslavo Eclesiástico</strong> a partir do <strong>Português</strong>.
	</p>
      </div>
      <ul class="space-y-4 text-center">
        <li>
	  <a href={`/slova/intro`} 
             class="text-2xl sm:text-md mb:text-3xl lg:text-3xl text-red-500 hover:underline text-center">
	     Introdução<!-- ao Eslavo Eclesiástico-->
	  </a>
        </li>
        <li>
	  <a href={`/slova/casos`} 
             class="text-2xl sm:text-md mb:text-3xl lg:text-3xl text-red-500 hover:underline text-center">
	     Casos Gramaticais<!-- em Eslavo Eclesiástico-->
	  </a>
        </li>
        <li>
	  <a href={`/slova/textos`} 
             class="text-2xl sm:text-md mb:text-3xl lg:text-3xl text-red-500 hover:underline text-center">
	     Textos Litúrgicos
	  </a>
        </li>
      </ul>
      <div class="absolute bottom-3 right-0 text-center w-full max-[425px]:px-1">
	<p class="text-[0.7rem]">
	  Este site não está pronto e pode apresentar diversos erros. <br/>
	  Sugestões, correções, ajudas e dúvidas: mirandadavi.mt@gmail.com
	</p>
      </div>
    </div>
  </body>
</html>
