---
import '../styles/global.css';
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="/slova/favicon.jpg">
    <title>Slovo</title>
  </head>
  <body class="min-h-screen flex items-center justify-center">
    <div class="container mx-auto p-6 max-w-2xl">
      <div class="relative text-center flex w-full justify-center text-(--primary)">
        <span class="absolute bottom-20 text-7xl text-transparent opacity-7" style="-webkit-text-stroke: 2.5px var(--secondary);">&#9766;</span>
	<!--&#9769;
            &#9840;
	    &#x2720;-->
	<h1 class="text-6xl font-bold mb-5">
          Slovo
        </h1>
      </div>
      <div class="text-center mb-10">
	<p class="text-sm light italic">
	  <strong>Eslavo Eclesiástico</strong> a partir do <strong>Português</strong>.
	</p>
      </div>
      <ul class="space-y-4 text-center">
        <li>
	  <a href={`/slova/intro`} 
             class="text-xl md:text-3xl text-(--primary) hover:underline text-center">
	     Introdução<!-- ao Eslavo Eclesiástico-->
	  </a>
        </li>
        <li>
	  <a href={`/slova/casos`} 
             class="text-xl md:text-3xl text-(--primary) hover:underline text-center">
	     Casos Gramaticais<!-- em Eslavo Eclesiástico-->
	  </a>
        </li>
        <li>
	  <a href={`/slova/textos`} 
             class="text-xl md:text-3xl text-(--primary) hover:underline text-center">
	     Textos Litúrgicos
	  </a>
        </li>
      </ul>
    </div>
    <p class="absolute bottom-3 text-center text-[0.7rem] light">
      Este site não está pronto e pode apresentar diversos erros. <br/>
      Sugestões, correções, ajudas e dúvidas: mirandadavi.mt@gmail.com
    </p>
  </body>
</html>
