---
import '../styles/global.css';
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.jpg" />
    <title>Slovo - Introdução ao Eslavo Eclesiástico</title>
  </head>
  <body style="background-color: rgb(28,19,10)" class="min-h-screen text-white flex items-center justify-center">
    <div class="container mx-auto p-6 max-w-4xl">
      <h1 class="text-5xl sm:text-4xl md:text-6xl lg:text-7xl font-bold text-center mb-3">
        Introdução ao Eslavo Eclesiástico
      </h1>
      <p class="text-center mb-10">
        <a href="/slova/" class="text-gray-600 hover:underline text-sm">
          Voltar ao início
        </a>
      </p>
      <h2 class="text-3xl font-bold text-center mb-10">
        Alfabeto
      </h2>
      <div class="overflow-x-auto">
        <table class="w-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
          <thead>
            <tr class="bg-red-900">
              <th class="border border-red-900 px-4 py-2">Letra</th>
              <th class="border border-red-900 px-4 py-2">Nome</th>
              <th class="border border-red-900 px-4 py-2">Equivalência Fonética</th>
              <th class="border border-red-900 px-4 py-2">Exemplo</th>
              <th class="border border-red-900 px-4 py-2">Transliteração</th>
              <th class="border border-red-900 px-4 py-2">Tradução</th>
            </tr>
          </thead>
          <tbody>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">А а</td>
              <td class="border border-red-900 px-4 py-2">Азъ (Az)</td>
              <td class="border border-red-900 px-4 py-2">"a" como em "abacaxi"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Ґми1нь</td>
              <td class="border border-red-900 px-4 py-2">Amém</td>
              <td class="border border-red-900 px-4 py-2">Amém</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Б б</td>
              <td class="border border-red-900 px-4 py-2">Буки (Buki)</td>
              <td class="border border-red-900 px-4 py-2">"b" como em "bola"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Б9е</td>
              <td class="border border-red-900 px-4 py-2">Deus</td>
              <td class="border border-red-900 px-4 py-2">Deus</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">В в</td>
              <td class="border border-red-900 px-4 py-2">Вѣди (Vědi)</td>
              <td class="border border-red-900 px-4 py-2">"v" como em "vaca"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Вѣра</td>
              <td class="border border-red-900 px-4 py-2">Fé</td>
              <td class="border border-red-900 px-4 py-2">Fé</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Г г</td>
              <td class="border border-red-900 px-4 py-2">Глаголи (Glagoli)</td>
              <td class="border border-red-900 px-4 py-2">"g" como em "gato"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">ГDи</td>
              <td class="border border-red-900 px-4 py-2">Senhor</td>
              <td class="border border-red-900 px-4 py-2">Senhor</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Д д</td>
              <td class="border border-red-900 px-4 py-2">Добро (Dobro)</td>
              <td class="border border-red-900 px-4 py-2">"d" como em "dado"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">д¦у</td>
              <td class="border border-red-900 px-4 py-2">Espírito</td>
              <td class="border border-red-900 px-4 py-2">Espírito</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Е е</td>
              <td class="border border-red-900 px-4 py-2">Есть (Iest)</td>
              <td class="border border-red-900 px-4 py-2">"ie" como em "piedade"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Еси</td>
              <td class="border border-red-900 px-4 py-2">És</td>
              <td class="border border-red-900 px-4 py-2">És</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ж ж</td>
              <td class="border border-red-900 px-4 py-2">Живѣте (Jivěte)</td>
              <td class="border border-red-900 px-4 py-2">"j" como em "jogo"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Жи1зни</td>
              <td class="border border-red-900 px-4 py-2">Vida</td>
              <td class="border border-red-900 px-4 py-2">Vida</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ѕ ѕ</td>
              <td class="border border-red-900 px-4 py-2">Дзѣло (Dzělo)</td>
              <td class="border border-red-900 px-4 py-2">"s" como em "sala"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Слaва</td>
              <td class="border border-red-900 px-4 py-2">Glória</td>
              <td class="border border-red-900 px-4 py-2">Glória</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">З з</td>
              <td class="border border-red-900 px-4 py-2">Земля (Zemlya)</td>
              <td class="border border-red-900 px-4 py-2">"z" como em "zebra"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Земли2</td>
              <td class="border border-red-900 px-4 py-2">Terra</td>
              <td class="border border-red-900 px-4 py-2">Terra</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">И и</td>
              <td class="border border-red-900 px-4 py-2">Иже (Izhe)</td>
              <td class="border border-red-900 px-4 py-2">"i" como em "iglu"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Истина</td>
              <td class="border border-red-900 px-4 py-2">Verdade</td>
              <td class="border border-red-900 px-4 py-2">Verdade</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">І і</td>
              <td class="border border-red-900 px-4 py-2">І (I)</td>
              <td class="border border-red-900 px-4 py-2">"i" como em "iglu"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Ісусъ</td>
              <td class="border border-red-900 px-4 py-2">Jesus</td>
              <td class="border border-red-900 px-4 py-2">Jesus</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">К к</td>
              <td class="border border-red-900 px-4 py-2">Како (Kako)</td>
              <td class="border border-red-900 px-4 py-2">"k" como em "casa"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Крестъ</td>
              <td class="border border-red-900 px-4 py-2">Cruz</td>
              <td class="border border-red-900 px-4 py-2">Cruz</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Л л</td>
              <td class="border border-red-900 px-4 py-2">Люди (Lyudi)</td>
              <td class="border border-red-900 px-4 py-2">"l" como em "lua"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Люди</td>
              <td class="border border-red-900 px-4 py-2">Povo</td>
              <td class="border border-red-900 px-4 py-2">Povo</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">М м</td>
              <td class="border border-red-900 px-4 py-2">Мыслѣте (Myslěte)</td>
              <td class="border border-red-900 px-4 py-2">"m" como em "mão"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Миръ</td>
              <td class="border border-red-900 px-4 py-2">Paz</td>
              <td class="border border-red-900 px-4 py-2">Paz</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Н н</td>
              <td class="border border-red-900 px-4 py-2">Нашъ (Nash)</td>
              <td class="border border-red-900 px-4 py-2">"n" como em "novo"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Небеса</td>
              <td class="border border-red-900 px-4 py-2">Céus</td>
              <td class="border border-red-900 px-4 py-2">Céus</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">О о</td>
              <td class="border border-red-900 px-4 py-2">Онъ (On)</td>
              <td class="border border-red-900 px-4 py-2">"o" como em "sol"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Отецъ</td>
              <td class="border border-red-900 px-4 py-2">Pai</td>
              <td class="border border-red-900 px-4 py-2">Pai</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">П п</td>
              <td class="border border-red-900 px-4 py-2">Покой (Pokoy)</td>
              <td class="border border-red-900 px-4 py-2">"p" como em "pai"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Побѣда</td>
              <td class="border border-red-900 px-4 py-2">Vitória</td>
              <td class="border border-red-900 px-4 py-2">Vitória</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Р р</td>
              <td class="border border-red-900 px-4 py-2">Рцы (Rtsy)</td>
              <td class="border border-red-900 px-4 py-2">"r" (rolado, como em "carro")</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Радость</td>
              <td class="border border-red-900 px-4 py-2">Alegria</td>
              <td class="border border-red-900 px-4 py-2">Alegria</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">С с</td>
              <td class="border border-red-900 px-4 py-2">Слово (Slovo)</td>
              <td class="border border-red-900 px-4 py-2">"s" como em "sol"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Слава</td>
              <td class="border border-red-900 px-4 py-2">Glória</td>
              <td class="border border-red-900 px-4 py-2">Glória</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Т т</td>
              <td class="border border-red-900 px-4 py-2">Твѣрдо (Tvěrdo)</td>
              <td class="border border-red-900 px-4 py-2">"t" como em "teto"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Ты</td>
              <td class="border border-red-900 px-4 py-2">Tu</td>
              <td class="border border-red-900 px-4 py-2">Tu</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">У у</td>
              <td class="border border-red-900 px-4 py-2">Укъ (Uk)</td>
              <td class="border border-red-900 px-4 py-2">"u" como em "uva"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Учитель</td>
              <td class="border border-red-900 px-4 py-2">Mestre</td>
              <td class="border border-red-900 px-4 py-2">Mestre</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ф ф</td>
              <td class="border border-red-900 px-4 py-2">Фертъ (Fert)</td>
              <td class="border border-red-900 px-4 py-2">"f" como em "faca"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Фома</td>
              <td class="border border-red-900 px-4 py-2">Tomé</td>
              <td class="border border-red-900 px-4 py-2">Tomé</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Х х</td>
              <td class="border border-red-900 px-4 py-2">Хѣръ (Khěr)</td>
              <td class="border border-red-900 px-4 py-2">"kh" (guttural, como "rr" em "carro" em espanhol)</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Христосъ</td>
              <td class="border border-red-900 px-4 py-2">Cristo</td>
              <td class="border border-red-900 px-4 py-2">Cristo</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ѡ ѡ</td>
              <td class="border border-red-900 px-4 py-2">Омега (Omega)</td>
              <td class="border border-red-900 px-4 py-2">"o" como em "sol"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Ѡтецъ</td>
              <td class="border border-red-900 px-4 py-2">Pai</td>
              <td class="border border-red-900 px-4 py-2">Pai</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ц ц</td>
              <td class="border border-red-900 px-4 py-2">Цы (Tsy)</td>
              <td class="border border-red-900 px-4 py-2">"ts" como em "pizza"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Царь</td>
              <td class="border border-red-900 px-4 py-2">Rei</td>
              <td class="border border-red-900 px-4 py-2">Rei</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ч ч</td>
              <td class="border border-red-900 px-4 py-2">Червь (Cherv)</td>
              <td class="border border-red-900 px-4 py-2">"ch" como em "chave"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Честный</td>
              <td class="border border-red-900 px-4 py-2">Honrado</td>
              <td class="border border-red-900 px-4 py-2">Honrado</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ш ш</td>
              <td class="border border-red-900 px-4 py-2">Ша (Sha)</td>
              <td class="border border-red-900 px-4 py-2">"sh" como em "show"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Шестъ</td>
              <td class="border border-red-900 px-4 py-2">Seis</td>
              <td class="border border-red-900 px-4 py-2">Seis</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Щ щ</td>
              <td class="border border-red-900 px-4 py-2">Ща (Shcha)</td>
              <td class="border border-red-900 px-4 py-2">"shch" (aproximado como "sh" prolongado)</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Щедрый</td>
              <td class="border border-red-900 px-4 py-2">Generoso</td>
              <td class="border border-red-900 px-4 py-2">Generoso</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ъ ъ</td>
              <td class="border border-red-900 px-4 py-2">Йеръ (Yer)</td>
              <td class="border border-red-900 px-4 py-2">Sinal duro (não vocalizado, separa sílabas)</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Съ нами</td>
              <td class="border border-red-900 px-4 py-2">Conosco</td>
              <td class="border border-red-900 px-4 py-2">Conosco</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ы ы</td>
              <td class="border border-red-900 px-4 py-2">Йеры (Yery)</td>
              <td class="border border-red-900 px-4 py-2">"y" (som entre "i" e "u", como "y" em "myth")</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Сыну</td>
              <td class="border border-red-900 px-4 py-2">Ao Filho</td>
              <td class="border border-red-900 px-4 py-2">Ao Filho</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ь ь</td>
              <td class="border border-red-900 px-4 py-2">Йерь (Yer')</td>
              <td class="border border-red-900 px-4 py-2">Sinal suave (suaviza a consoante anterior)</td>
              <td class="border border-red-900 px-4 py-2 slavonic">День</td>
              <td class="border border-red-900 px-4 py-2">Dia</td>
              <td class="border border-red-900 px-4 py-2">Dia</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ѣ ѣ</td>
              <td class="border border-red-900 px-4 py-2">Ять (Yat)</td>
              <td class="border border-red-900 px-4 py-2">"ie" (som entre "e" e "ia")</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Свѣтъ</td>
              <td class="border border-red-900 px-4 py-2">Luz</td>
              <td class="border border-red-900 px-4 py-2">Luz</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ю ю</td>
              <td class="border border-red-900 px-4 py-2">Ю (Yu)</td>
              <td class="border border-red-900 px-4 py-2">"iu" como em "união"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Юность</td>
              <td class="border border-red-900 px-4 py-2">Juventude</td>
              <td class="border border-red-900 px-4 py-2">Juventude</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2">Ꙗ ꙗ</td>
              <td class="border border-red-900 px-4 py-2">Я (Ya)</td>
              <td class="border border-red-900 px-4 py-2">"ia" como em "tia"</td>
              <td class="border border-red-900 px-4 py-2 slavonic">Ꙗко</td>
              <td class="border border-red-900 px-4 py-2">Pois</td>
              <td class="border border-red-900 px-4 py-2">Pois</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="text-3xl font-bold text-center my-10">
        Palavras comuns dos Serviços Litúrgicos
      </h2>
      <div class="overflow-x-auto">
        <table class="w-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
          <thead>
            <tr class="bg-red-900">
              <th class="border border-red-900 px-4 py-2">Palavra</th>
              <th class="border border-red-900 px-4 py-2">Transliteração</th>
              <th class="border border-red-900 px-4 py-2">Tradução</th>
            </tr>
          </thead>
          <tbody>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">Б9е</td>
              <td class="border border-red-900 px-4 py-2">Bôje</td>
              <td class="border border-red-900 px-4 py-2">Deus</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">ГDи</td>
              <td class="border border-red-900 px-4 py-2">Gôspodi</td>
              <td class="border border-red-900 px-4 py-2">Senhor</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">Ґми1нь</td>
              <td class="border border-red-900 px-4 py-2">Amín</td>
              <td class="border border-red-900 px-4 py-2">Amém</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">Ґллилyіа</td>
              <td class="border border-red-900 px-4 py-2">Alilúia</td>
              <td class="border border-red-900 px-4 py-2">Aleluia</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="text-3xl font-bold text-center my-10">
        Trechos comuns dos Serviços Litúrgicos
      </h2>
      <div class="overflow-x-auto">
        <table class="w-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
          <thead>
            <tr class="bg-red-900">
              <th class="border border-red-900 px-4 py-2">Texto</th>
              <th class="border border-red-900 px-4 py-2">Transliteração</th>
              <th class="border border-red-900 px-4 py-2">Tradução</th>
            </tr>
          </thead>
          <tbody>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">ГDи, поми1луй.</td>
              <td class="border border-red-900 px-4 py-2">Gôspodi, pomílui.</td>
              <td class="border border-red-900 px-4 py-2">Senhor, tem piedade.</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">Подaй гDи.</td>
              <td class="border border-red-900 px-4 py-2">Podái, Gôspodi.</td>
              <td class="border border-red-900 px-4 py-2">Concede, Senhor.</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">Слaва nц7Y, и3 сн7у, и3 с™0му д¦у.</td>
              <td class="border border-red-900 px-4 py-2">Sláva Otsú, i Sýnu, i Sviatômu Dúrru.</td>
              <td class="border border-red-900 px-4 py-2">Glória ao Pai, ao Filho e ao Espírito Santo.</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">И3 нhнэ и3 при1снw, и3 во вёки вэкHвъ.</td>
              <td class="border border-red-900 px-4 py-2">I nýnie i prísno, i vo víeki viekôv.</td>
              <td class="border border-red-900 px-4 py-2">E agora e sempre e pelos séculos dos séculos.</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">С™hй б9е, с™hй крёпкій, с™hй безсмeртный, поми1луй нaсъ.</td>
	      <td class="border border-red-900 px-4 py-2">Sviatý Bôje, Sviatý Kriêpki, Sviatý Biezmiêrtny, pomílui nás.</td>
	      <td class="border border-red-900 px-4 py-2">Santo Deus, Santo Forte, Santo Imortal, tem piedade de nós.</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">Подaй гDи.</td>
              <td class="border border-red-900 px-4 py-2">Podái, Gôspodi.</td>
              <td class="border border-red-900 px-4 py-2">Concede, Senhor.</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">ТебЁ, гDи.</td>
              <td class="border border-red-900 px-4 py-2">Tiebê, Gôspodi.</td>
              <td class="border border-red-900 px-4 py-2">A Ti, Senhor.</td>
            </tr>
            <tr class="hover:bg-red-900">
              <td class="border border-red-900 px-4 py-2 slavonic">Ґллилyіа, аллилyіа, аллилyіа, слaва тебЁ, Б9е.</td>
              <td class="border border-red-900 px-4 py-2">Alilúia, alilúia, alilúia, sláva tiebê, Bôje.</td>
              <td class="border border-red-900 px-4 py-2">Aleluia, aleluia, aleluia, glória a ti, ó Deus.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-6 text-center">
        <a href="/slova/" class="text-red-500 hover:underline text-sm">
          Voltar ao início
        </a>
      </p>
    </div>
  </body>
</html>
