---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Slova - Casos Gramaticais";
import data from '../data/main.json';
---
<Layout pageTitle={pageTitle}>
  <h1 class="text-6xl sm:text-5xl md:text-6xl lg:text-6xl font-bold text-center mb-3">
    Textos Litúrgicos
  </h1>
  <p class="text-center mb-10">
    <a href="/slova/" class="text-(--detail) hover:underline text-sm">
      Voltar ao início
    </a>
  </p>
  <ul class="space-y-4 text-center mb-10">
    {data.map(i => (
     <li>
       <a href={`/slova/d/${i.id}`} 
          class="text-3xl sm:text-md mb:text-3xl lg:text-3xl text-(--primary) hover:underline slavonic text-center">
          {i.name}
       </a>
       <i class="text-md sm:text-sm md:text-md lg:text-md block">({i.translation})</i>
     </li>
     ))}
  </ul>
</html>
